.Input {
  border: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 135px;
  flex-direction: column;
  vertical-align: top;
  margin: 8px 0;
  width: 100%;
}

.Input-label {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.00938em;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  z-index: 1;
  transform-origin: top left; 
  transform: translate(14px, 20px) scale(1);
  pointer-events: none;
}

.Input-wrapper {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.1876em;
  letter-spacing: 0.00938em;
  border-radius: 4px;
}

.Input-wrapper:hover .Input-outline {
  border-color: rgba(0, 0, 0, 0.87);
}

.Input-input {
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  -webkit-rtl-ordering: logical;
  cursor: text;
  text-align: start;
  appearance: textfield;
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
  padding: 18.5px 14px;
}
.Input-input:focus {
  outline: 0;
}

.Input-outline {
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 8px;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: inherit;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0.23);
}

.Input-legend {
  width: auto;
  height: 11px;
  display: block;
  padding: 0;
  font-size: 0.75em;
  max-width: 0.01px;
  text-align: left;
  transition: max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  visibility: hidden;
}
.Input--focused .Input-legend,
.Input--filled .Input-legend {
  max-width: 1000px;
  transition: max-width 100ms cubic-bezier(0.0, 0, 0.2, 1) 50ms;
}
.Input--focused .Input-legend > span,
.Input--filled .Input-legend > span {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.Input--filled .Input-label {
  transform: translate(14px, -6px) scale(0.75);
  color: rgba(0, 0, 0, 0.23);
}
.Input--filled .Input-outline {
  border-color: rgba(0, 0, 0, 0.23);
}

.Input--focused .Input-label {
  transform: translate(14px, -6px) scale(0.75);
  color: blue;
}
.Input--focused .Input-outline,
.Input--focused .Input-wrapper:hover .Input-outline {
  border-color: blue;
  border-width: 2px;
}

.Input--disabled .Input-input {
  color: rgba(0, 0, 0, 0.38);
  cursor: default;
}
.Input--disabled .Input-outline,
.Input--disabled .Input-wrapper:hover .Input-outline {
  border-color: rgba(0, 0, 0, 0.26);
}