.Lane-content {
  display: flex;
  flex-direction: column;
}
.Lane-map {
  height: 50vh;
}
.Lane-link {
  text-decoration: none;
}
@media (min-width: 567px) {
  .Lane-content {
    flex-direction: row;
  }
  .Lane-map {
    flex: 5;
    height: 100vh;
  }
}
