.Incident {
  background-color: #f5f5f5;
  text-align: left;
  padding: 10px 0px;
}

.Incident-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.Incident-title {
  text-align: center;
}

@media (min-width: 600px) {
  .Incident {
    padding: 40px 60px;
  }
  .Incident-header {
    flex-direction: row;
  }
}