.Paper {
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  background-color: #fff;
  padding: 12px;
}

@media (min-width: 600px) {
  .Paper {
    padding: 24px;
  }
}