.Sidebar {
  height: 50vh;
  overflow: auto;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  background-color: #fff;
  z-index: 1;
  overflow: hidden;
}
.Sidebar-list {
  height: calc(100vh - 80px);
  overflow: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}
@media (min-width: 567px) {
  .Sidebar {
    flex: 3;
    height: 100vh;
    padding-left: 16px;
    padding-right: 16px;
  }
}