.Container {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 600px) {
  .Container {
    padding-left: 24px;
    padding-right: 24px;
    max-width: 600px;
  }
}
