.Radio {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin-left: -11px;
  margin-right: 16px;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

.Radio-icon {
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  padding: 9px;
  color: rgba(0, 0, 0, 0.54);
}

.Radio-icon:hover {
  background-color: rgba(0, 0, 255, 0.04);
}

.Radio-icon__touch {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none;
}

.Radio-icon__icon {
  width: 100%;
  display: flex;
  align-items: inherit;
  justify-content: inherit;
}

.Radio-icon__icon-input {
  top: 0;
  left: 0;
  width: 100%;
  cursor: inherit;
  height: 100%;
  margin: 0;
  opacity: 0;
  padding: 0;
  z-index: 1;
  position: absolute;
}

.Radio-icon__icon-div {
  display: flex;
  position: relative;
}

.Radio-icon__icon-svg1,
.Radio-icon__icon-svg2 {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

.Radio-icon__icon-svg2 {
  left: 0;
  position: absolute;
  transform: scale(0);
  transition: transform 150ms cubic-bezier(0.4, 0, 1, 1) 0ms;
}

.Radio-label {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.Radio-icon.isChecked {
  color: blue;
}

.Radio-icon.isChecked .Radio-icon__icon-svg2 {
  transform: scale(1);
  transition: transform 150ms cubic-bezier(0.0, 0, 0.2, 1) 0ms; 
}