.Select-select {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  animation-duration: 10ms;
  -webkit-tap-highlight-color: transparent;
  padding: 18.5px 14px;
  padding-right: 32px;
  cursor: pointer;
  min-width: 16px;
  -moz-appearance: none;
  -webkit-appearance: none;
  user-select: none;
  border-radius: 4px;
}
.Select-select:focus {
  outline: none;
}

.Select-svg {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  top: calc(50% - 12px);
  color: rgba(0, 0, 0, 0.54);
  right: 7px;
  position: absolute;
  pointer-events: none;
}
