.Card {
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.Card-content {
  padding: 8px 16px;
  text-align: left;
}

.Card-title {
  font-size: 1rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.334;
  letter-spacing: 0em;
  margin: 0;
}

.Card-subtitle {
  font-size: 0.8rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 2px;
  margin-bottom: 6px;
  word-break: break-all;
}

.Card-p {
  font-size: 0.675rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  margin: 0;
}

.Card-footer {
  display: flex;
  align-items: center;
  padding: 4px 8px;
}
.Card-footer.right {
  justify-content: flex-end;
}

.Card-button {
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  padding: 4px 5px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
}

.Card-button:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

@media (min-width: 600px) {
  .Card-content {
    padding: 16px;
  }
  .Card-title {
      font-size: 1.5rem;
  }
  .Card-subtitle {
    font-size: 1rem;
    margin-bottom: 12px;
    margin-top: 0;
  }
  .Card-p {
    font-size: 0.875rem;
  }
  .Card-footer {
    padding: 8px;
  }
}