/* 
 4  8  12 16 .24 48
xxs xs s  m...l..xl
*/
.Space.top.xxs {
  margin-top: 4px;
}

.Space.top.xs {
  margin-top: 8px;
}

.Space.top.s {
  margin-top: 12px;
}

.Space.top.m {
  margin-top: 16px;
}

.Space.top.l {
  margin-top: 24px;
}

.Space.top.xl {
  margin-top: 48px;
}

.Space.bottom.xxs {
  margin-bottom: 4px;
}

.Space.bottom.xs {
  margin-bottom: 8px;
}

.Space.bottom.s {
  margin-bottom: 12px;
}

.Space.bottom.m {
  margin-bottom: 16px;
}

.Space.bottom.l {
  margin-bottom: 24px;
}

.Space.bottom.xl {
  margin-bottom: 48px;
}