.Map {
  position: relative;
  height: 50vh;
  width: 100%;
}
.Marker {
  position: absolute;
  color: white;
  padding: 15px 10px;
  display: inline-flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 300px;
  height: 120px;
  top: -130px;
  left: -150px;
  box-sizing: border-box;
  font-size: 14px;
}

.Marker::before {
  content: '';
  display: block;
  position: absolute;
  left: calc(50% - 5px);
  bottom: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
}

.Marker-title {
  margin-top: 0;
  margin-bottom: 0;
}

.Marker-meta {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-top: 10px;
}

.Marker-critical {
  background: red;
}
.Marker-critical:before {
  border-color: red transparent transparent transparent;
}
.Marker-warning {
  background: orange;
}
.Marker-warning:before {
  border-color: orange transparent transparent transparent;
}
.Marker-info {
  background: green;
}
.Marker-info:before {
  border-color: green transparent transparent transparent;
}

@media (min-width: 567px) {
  .Map {
    height: 100vh;
  }
  .Marker {
    padding: 15px 10px;
    border-radius: 5px;
    width: 300px;
    height: 150px;
    top: -160px;
    left: -150px;
    box-sizing: border-box;
    font-size: 18px;
  }
}