.Chip {
  border: none;
  cursor: default;
  height: 24px;
  display: inline-flex;
  outline: 0;
  padding: 0;
  font-size: 0.6125rem;
  box-sizing: border-box;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  margin: 2px;
}
.Chip-row {
  margin-left: -4px;
  margin-top: 6px;
}
.Chip--info {
  background-color: green;
  color: white;
}
.Chip--warning {
  background-color: orange;
  color: white;
}
.Chip--critical {
  background-color: red;
  color: white;
}
.Chip--verified {
  color: green;
  border: solid 1px green;
}
.Chip--notverified {
  border: solid 1px red;
  color: red;
}

.Chip-label {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  text-overflow: ellipsis;
}

.Chip-icon {
  fill: currentColor;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  width: 22px;
  cursor: pointer;
  height: 22px;
  margin: 0 5px 0 -6px;
  -webkit-tap-highlight-color: transparent;
  color: green;
}

@media (min-width: 600px) {
  .Chip {
    height: 32px;
    font-size: 0.8125rem;
    margin: 4px;
  }
  .Chip-row {
    margin-top: 12px;
  }
}